@font-face {
  font-family: 'Aktiv Grot Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Botanika Mono Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BotanikaMonoMedium.woff2') format('woff2');
}
