:root {
  --ui-font-family-aktiv-regular: 'Aktiv Grot Regular', Arial, sans-serif;
  --ui-font-family-botanika-medium: 'Botanika Mono Medium', Arial, sans-serif;

  --ui-font-size-xs: 10px;
  --ui-font-size-sm: 13px;
  --ui-font-size-base: 16px;
  --ui-font-size-md: 22px;
  --ui-font-size-lg: 34px;
}
