:root {
  --ui-color-white: #fff;

  --ui-color-gray-light: #ebf2f5;
  --ui-color-gray: #a8bed2;
  --ui-color-gray-dark: #989898;

  --ui-color-primary-light: #2f4553;
  --ui-color-primary: #112129;
  --ui-color-primary-dark: #111c23;
  --ui-color-primary-darker: #0b151c;
  --ui-color-primary-darkest: #10161B;

  --ui-color-blue-lighter: #b6c6d5;
  --ui-color-blue-light: #71b2d9;
  --ui-color-blue: #58a7da;

  --ui-color-yellow: #ffc83a;

  --ui-color-green: #24b844;
  --ui-color-green-dark: #289643;

  --ui-color-red: #e83219;

  --ui-color-orange: #ff813a;

  --ui-color-purple: #9b47b1;
}
